<div class="modal-dialog">

  <div class="modal-header">
    <h3>Add an exercise to your plan!</h3>
    <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
  </div>


  <div class="modal-add-body">

    <div class="exercise-container">
      <h4 class="modal-title">Exercise</h4>
      <p type="text" id="exercise-value">"dumbells"</p>
    </div>

    <div>
      <label for="exercise-sets-input">Sets</label>
      <input type="text" id="exercise-sets-input"></input>
    </div>

    <div class="reps-container">
      <h4 class="modal-title">Reps</h4>
      <p type="text" id="modal-value">6</p>
    </div>

    <div class="day-container">
      <label for="day-label"> Day </label>
      <select id="add-exercise-day" class="add-day" name="add-day">
        <option selected value="">Any</option>
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>Saturday</option>
        <option>Sunday</option>
      </select>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
    <button type="button" id="modal-accept" class="action-button">Add Exercise</button>
  </div>

</div>
