
<div class="single-exercise-container">
    <div class="exercise-container">
      <h2 id="exercise-title">Exercise</h2>
      <h2 id='exercise-value'>{{exercise}}</h2>
    </div>

    <div class="sets-container">
      <h2 id="sets-title">Sets</h2>
      <h2 id=sets-value>{{sets}}</h2>
    </div>

    <div class="reps-container">
      <h2 id="reps-title">Reps</h2>
      <h2 id='reps-value'>{{reps}}</h2>
    </div>


    <div class="day-container">
      <h2 id="day-title"> Day </h2>
      <h2 id='day-value'>{{day}}</h2>
    </div>
</div>
