  <main class="content">



      <aside class="filter-container">
        <h2> Narrow your search! </h2>

        <div class="filter-input-container">
          <label for="filter-text" class="filter-input-label"> Text </label>
          <input type="text" name="filter-text" id="filter-text" class="filter-input">
        </div>

        <div class="filter-input-container">
          <label for="filter-type"> Type </label>
          <select id="filter-type" class="filter-input" name="filter-type">
            <option selected value="">Any</option>
            <option>Chest</option>
            <option>Back</option>
            <option>Legs</option>
            <option>Shoulders</option>
            <option>Arms</option>
          </select>
        </div>

        <div class="filter-input-container">
          <fieldset id="filter-difficulty" class="filter-fieldset">
            <legend>Difficulty</legend>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-0" value="0">
              <label for="filter-difficulty-0">0</label>
            </div>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-1" value="1">
              <label for="filter-difficulty-1">1</label>
            </div>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-2" value="2">
              <label for="filter-difficulty-2">2</label>
            </div>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-3" value="3">
              <label for="filter-difficulty-3">3</label>
            </div>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-4" value="4">
              <label for="filter-difficulty-4">4</label>
            </div>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-5" value="5">
              <label for="filter-difficulty-5">5</label>
            </div>

          </fieldset>
        </div>

        <button id="filter-find-button" class="action-button">Find</button>

      </aside>

      <section id="exercises">

        {{#each exercises}}
          {{>exercise}}
        {{/each}}


      </section>

      </main>

      <!-- <div class="viewPlanContainer"> -->

        <button type="button" id="viewPlan-button" onclick="window.open('/my-workout-plan','_blank');">View My Plan</button>
      <!-- </div> -->
      <button type="button" id="add-exercise-button" class="action-button">Add an exercise to My Plan</button>


      <div id="modal-add-backdrop" class="hidden"></div>
      <div id="add-modal" class="hidden">
        <div class="modal-dialog">

          <div class="modal-header">
            <h3>Add an exercise to your plan!</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
          </div>


          <div class="modal-add-body">

            <div class="exercise-add-element">
              <label for="exercise-text-input">Exercise</label>
              <input type="text" id="exercise-text-input"></input>
            </div>

            <div class="exercise-add-element">
              <label for="exercise-sets-input">Sets</label>
              <input type="text" id="exercise-sets-input"></input>
            </div>


            <div class="exercise-add-element">
              <label for="exercise-reps-input">Reps</label>
              <input type="text" id="exercise-reps-input"></input>
            </div>


            <div class="exercise-add-element">
              <fieldset id="exercise-day-fieldset" class="exercise-fieldset">
                <legend>Day</legend>
                <div>
                  <input type="radio" name="exercise-day" id="monday" value="monday" checked>
                  <label for="monday">Monday</label>
                </div>
                <div>
                  <input type="radio" name="exercise-day" id="tuesday" value="tuesday">
                  <label for="tuesday">Tuesday</label>
                </div>
                <div>
                  <input type="radio" name="exercise-day" id="wednesday" value="wednesday">
                  <label for="wednesday">Wednesday</label>
                </div>
                <div>
                  <input type="radio" name="exercise-day" id="thursday" value="thursday">
                  <label for="thursday">Thursday</label>
                </div>
                <div>
                  <input type="radio" name="exercise-day" id="friday" value="friday">
                  <label for="friday">Friday</label>
                </div>
                <div>
                  <input type="radio" name="exercise-day" id="saturday" value="saturday">
                  <label for="saturday">Saturday</label>
                </div>
                <div>
                  <input type="radio" name="exercise-day" id="sunday" value="sunday">
                  <label for="sunday">Sunday</label>
                </div>
              </fieldset>



            </div>

          </div>

          <div class="modal-footer">
            <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
            <button type="button" id="modal-accept" class="action-button">Add Exercise</button>
          </div>

        </div>
      </div>

  </div>



    </body>
  </html>
