<main class="content-myPlan">

    <div class="header-myPlan">
        <h1>My Workout Plan</h1>
        <p>Exercises listed by day of the week.</p>
    </div>

    <div class="row-myPlan">
        {{#each days}}
            {{> dayMyPlan}}
        {{/each}}

    </div>

</main>