<main class="content">

    <div class="myPlan-modal-header">

        <h1>My Plan</h1>
        <button type="button" id="myPlan-modal-close" class="myPlan-modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

        <div class="day-container">
            <h4> Monday </h4>
            <div class="myExercises-container">

            </div>
            <div class="mySets-container">

            </div>

            <div class="myReps-container">

            </div>
        </div>

        <div class="day-container">
            <h4> Tuesday </h4>
            <div class="myExercises-container">

            </div>
            <div class="mySets-container">

            </div>

            <div class="myReps-container">

            </div>
        </div>

        <div class="day-container">
            <h4> Wednesday </h4>
            <div class="myExercises-container">

            </div>
            <div class="mySets-container">

            </div>

            <div class="myReps-container">

            </div>
        </div>

        <div class="day-container">
            <h4> Thursday </h4>
            <div class="myExercises-container">

            </div>
            <div class="mySets-container">

            </div>

            <div class="myReps-container">

            </div>
        </div>

        <div class="day-container">
            <h4> Friday </h4>
            <div class="myExercises-container">

            </div>
            <div class="mySets-container">

            </div>

            <div class="myReps-container">

            </div>
        </div>

        <div class="day-container">
            <h4> Saturday </h4>
            <div class="myExercises-container">

            </div>
            <div class="mySets-container">

            </div>

            <div class="myReps-container">

            </div>
        </div>

        <div class="day-container">
            <h4> Sunday </h4>
            <div class="myExercises-container">

            </div>
            <div class="mySets-container">

            </div>

            <div class="myReps-container">

            </div>
        </div>
</main>