<main class="content">

    <div class="header">
        <h1>My Plan</h1>
    </div>

    <div class="row-myPlan">
        {{#each days}}
            {{> dayMyPlan}}
        {{/each}}

    </div>

</main>