body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f67811;
}

a:hover{
  text-decoration: underline;
}

header {
  background-color: #000;
  align-items: center;
  display: flex;
  position: relative;
}

header a {
  color:#fff;
}

.site-title {
  font-family: "Roboto Slab", serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top:30px;
}
